*{
    padding: 0;
    margin:0;
    box-sizing: 0;
}
#c1{
    padding-top: 100px;
    border-collapse: collapse;
}
#navbarSupportedContent>ul>li{
    padding-left: 30px !important;
    
}
#c1 td {
    border: 1px solid #ccc; 
    padding: 10px;
    text-align: center; 
    vertical-align: top; 
}
.car img {
    width: 100%; 
    height: 150px;
    object-fit: cover; 
}